*, ::after, ::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: arial;
    background-color: beige;
    font-size: 1.2em;
    height: 100vh;
}

nav {
    text-decoration: none !important;
    padding: 3px;
    background-color: rgb(212, 244, 235);
    border-bottom: 3px solid orange;
}

nav a {
    text-decoration: none !important;
    padding: 3px 5px;
}

nav a.active {
    font-weight: bold;
    color: red;
}

main {
    margin: 20px;
}

p {
    font-size: 1.2em;
}

.card-text {
    text-align: justify;
}

.pagination {
    margin: 10px auto;
}

.label {
    font-size: 1.4rem;
}

.is-info {
    margin: 0.5em;
}

select{
    margin: 0.2em;
}
